<h1>Courses</h1>

<form>
  <div class="form-group">
    <label for="locations">Parks</label>
    <select #frolfCourses>
      <option value="45.6034° N, 122.7583° W">Pier Park</option>
      <option  value="45.4731° N, 122.7020° W">Lunch Time</option>
      <option value="45.2990° N, 122.3466° W">Timber Park</option>
      <option  value="45.2945° N, 122.3620° W">Milo McIver</option>
    </select>
  </div>
  <button (click)="getLocation(frolfCourses.value)">Get Photos</button>
</form>

<div *ngIf="locations">
  <app-locations [childLocations]="locations"></app-locations>
</div>
