.card {
  width: 90%;
  min-height: 10%;
  margin-top: 10px;
  padding: 2%;
  margin-left: 5%;
  background-color: #6e7b91;
}

.btn-group-vertical {
  margin-right: 20px;
}

.search {
  float: left;
  margin-right: 4px;
}
